* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

@font-face {
    font-family: 'Whitney';
    src: url(../fonts/whitney/whitneymedium.otf);
    font-family: 'Whitney Bold';
    src: url(../fonts/whitney/whitneybold.otf);
}

body {
    font-family: 'Whitney', sans-serif;
}

/* elementi comuni*/

h2 {
    font-size: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

p {
    font-size: 0.8em;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.padding-50 {
    padding: 50px 0;
}

/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    max-width: 800px;

    padding: 0 100px 100px;
    margin-left: auto;
    margin-right: auto;
}


header,
section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #F6F6F6;
}

/* sezione navbar */
nav {
    background-color: #255EE9;
    background-size: contain;
    padding: 20px;
}


nav .container {
    display: flex;
}


nav .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

nav .login {
    width: 100px;
    text-align: right;
}



nav .container button {
    background-color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 25px;
}

/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url('../img/jumbo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 50%;
    text-align: center;

    color: white;
}

#hero .container-small h1 {
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#hero .container-small p {
    line-height: 25px;
}

#hero .container-small button {
    background-color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    margin: 20px 8px 0;
}

#hero .container-small button:last-of-type {
    color: white;
    background-color: black;
}

.download-btn {
    padding-right: 5px;
}

/* fine sezione hero */


/* sezioni grigie */
.row {
    display: flex;
    gap: 100px;
}

.column-big {
    flex-grow: 1;
}

.column-big img {
    width: 100%;
}

.column-small {
    padding: 0 50px;
    padding-top: 20px;
    vertical-align: middle;
    width: 400px;
}

.column-small div {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.big-content {
    text-align: center;
}

.big-content h2 {
    padding-bottom: 20px;
}

.big-content div:first-of-type {
    padding: 0 100px
}

h3 {
    font-size: 1.3em;
    padding-top: 30px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 40%;
}

.bg-gray .container button {
    color: white;
    background-color: #7289DA;
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    margin: 20px 8px 0;
}

.bg-gray .container .big-content-link {
    text-align: center;
}

/* fine sezioni grigie */


/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}


footer #footer-top {
    margin-bottom: 30px;
    padding-top: 70px;
}

footer #footer-top .footer-links {

    width: 250px;
    /* test */
}

footer #footer-top .footer-column {
    /* test */

    flex-grow: 1;
}

footer #footer-bottom {
    /* test */

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom>* {
    /* test */

    padding: 4px 8px;
}

footer #footer-bottom .button {
    background-color: #8EA1E1;
    border: none;
    color: white;
    border-radius: 25px;
    padding: 0px 25px;
}

ul {
    list-style-type: none;
}

li,
footer #footer-top .footer-column div:first-of-type {
    padding-bottom: 10px;
    color: white;
    font-size: 0.9em;
}

footer #footer-top .footer-column div:first-of-type {
    font-weight: bold;
    color: #7289DA;
}

footer h4 {
    font-size: 1.5em;
    color: #7289DA;
}

.flag {
    width: 1em;
    vertical-align: baseline;
}

.language {
    padding: 10px 0;
}

.selected-language {
    font-size: 0.8em;
    line-height: 17px;
    vertical-align: baseline;
}

.social-flex {
    display: flex;
    gap: 15px
}

.arrow {
    vertical-align: baseline;
    font-size: 12px;
}

.footer-links {
    color: white;
}

.footer-divider {
    width: 100%;
    border-bottom: 2px solid #3C4763;
}

/* fine sezione footer */


/* Bonus */
.wave {
    display: block;
    height: 100px;
    width: 100%;
    filter: invert(100%) sepia(18%) saturate(23%) hue-rotate(42deg) brightness(111%) contrast(93%);

}

.wave-reverse {
    transform: rotate(180deg);
}