* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

@font-face {
    font-family: 'Whitney';
    src: url(../fonts/whitney/whitneymedium.otf);
    font-family: 'Whitney Bold';
    src: url(../fonts/whitney/whitneybold.otf);
}

body {
    font-family: 'Whitney', sans-serif;
}


/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.container-small {

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header,
section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {
    background-color: #255EE9;
    background-size: contain;
    padding: 15px;
}


nav .container {
    display: flex;
}


nav .nav-links {
    flex-grow: 1;
}

nav .nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

nav .login {
    width: 100px;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
}

nav .container button {
    background-color: white;
    border: none;
    padding: 10px 12px;
    border-radius: 25px;
}

/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url('../img/jumbo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 50%;
    text-align: center;

    color: white;
}

#hero .container-small h1 {
    font-size: 48px;
    padding-bottom: 40px;
}

#hero .container-small p {
    line-height: 25px;
}

#hero .container-small button {
    background-color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 25px;
    margin: 20px 8px 0;
}

#hero .container-small button:last-of-type {
    color: white;
    background-color: black;
}

.download-btn {
    padding-right: 5px;
}

/* fine sezione hero */


/* sezioni grigie */
.row {
    display: flex;
}

.column-big {
    flex-grow: 1;
}

.column-small {
    padding: 0 50px;
    vertical-align: middle;
    width: 400px;
}

.column-small div {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.big-content {
    text-align: center;
}

.big-content h2 {
    padding-bottom: 20px;
}

.big-content div:first-of-type {
    padding: 0 100px
}

/* fine sezioni grigie */


/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}


footer .container>* {
    border: dashed 2px white;
    /* test */
}


footer #footer-top {
    margin-bottom: 30px;
}

footer #footer-top .footer-links {
    background-color: #f08080;
    height: 500px;
    width: 250px;
    /* test */
}

footer #footer-top .footer-column {
    background-color: #20b2aa;
    /* test */

    flex-grow: 1;
}

footer #footer-bottom {
    background-color: #7fffd4;
    /* test */

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom>* {
    background-color: #ffb6c1;
    /* test */

    padding: 4px 8px;
}

/* fine sezione footer */